@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    color: #fff !important;
    background: #fff !important;
    font-size: 20px;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
  }

  @layer components {
    .text-gradient {
      background: conic-gradient(
        from 100deg at 44.88% 50%,
        #2b65fb 140deg,
        #28d8ff 165deg,
        #85ffb6 335deg,
        #17c213 360deg
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
